<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/resources/demos/style.css">

</head>
<body>

<div class="jumbotron">
      <div class="container">
        <h1>Transaction Approval</h1>
        <p> You have processed all approved transactions. <%= notice %></p>
      </div>
    </div>

<div class="container">





</div>

<br>
<br>

<%= yield %>

</body>

<hr>

</html>


