<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
  	<title>DigIn Rewards</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  	<link rel="stylesheet" href="css/styles.css">

</head>
<body>

<div class="jumbotron">
      <div class="container">
        <h1>DigIn.club</h1>
        <p>The club that pays you for supporting locally sourced products and food.<br>
            We will even deliver. </p>
        <p><a class="btn btn-primary btn-lg" href="/admin" role="button">Database Administration &raquo;</a></p>
         <p><a class="btn btn-primary btn-lg" href="/transactions" role="button">Transaction Processing &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Rewarding</h2>
          <p>Our loyalty and rewards program is the only local program that supports causes while consumers buy local products and services at retailers.  With our easy-to-use app, simply upload your receipts from supporting businesses.  Then watch your balance grow and feel good that you just contributed to your favorite local cause.</p>
          <p><a class="btn btn-default" href="#" role="button">Learn about rewards &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Healthy</h2>
          <p>We take special care to bring the most healthy locally sourced products to your door. They are packaged with love and thought about with care.  Your optional monthly $49.99 subscription gets you new food products each month along with customized videos, recipes and advise from the best-of-the-best in the culinary industry.</p>
          <p><a class="btn btn-default" href="#" role="button">Get subscription info &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Promising</h2>
          <p>There is nothing better than seeing a community support its local businesses, producers and causes.  The connection through rewards, payments and education is what we do.  That's why we have new partners every week.  Everyone wins.  We like waking up each day knowing that we are doing something great!</p>
          <p><a class="btn btn-default" href="#" role="button">Partner with us &raquo;</a></p>
        </div>
      </div>
    
<hr>

<footer>
	<p>&copy; 2016 Dig In LLC</p>
</footer>


     </div>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="js/script.js"
</body>
</html>