
          
      <div class="jumbotron">
      
      <center><img src="images/Dig-in-Rewards-(300-x-180).jpg" alt="Dig In Rewards" height="180" width="300"></center>

      </div>
    <div class="container">
      <%= notice %>
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Rewarding</h2>
          <p>Dig In Rewards is an amazing cash-back program.  It gives consumers cash back on their purchases while automatically supporting causes.  With our easy-to-use mobile ready app, simply upload your receipts from supporting businesses.  Then watch your balance grow and feel good that you just contributed to your favorite local cause.</p>
          <p><a class="btn btn-default" href="/users/sign_up" role="button">Sign Up Now &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Easy</h2>
          <p>We have taken special care to develop a fast and easy system.  After you have signed up for the program, it's as easy as shopping with our partners and submitting your receipt.  We will approve your purchase.  Then we will credit your paypal account with cash back and we will automatically send a donation to a cause of your choice.</p>
          <p><a class="btn btn-default" href="/users" role="button">Sign In to your dashboard &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Promising</h2>
          <p>There is nothing better than seeing a community support its local businesses, producers and causes.  The connection through rewards, payments and education is what we do.  That's why we have new partners every week.  Everyone wins.  We like waking up each day knowing that we are doing something great!</p>
          <p><a class="btn btn-default" href="http://rewards.digin.club" role="button">Check out our web site &raquo;</a></p>
        </div>
      </div>
     </div>
</div>
<hr>
<%= yield %>

