
<div class="jumbotron">
      <div class="container">
        <h1>Transaction Processing</h1>
        <p>This is the main transaction processing page. </p>
      </div>
</div>

<div class="container">
<p><center>
  <a href="/transactions/list" class="btn btn-primary btn-lg btn-block" role="button">List All Transactions</a>
</center></p>

<p><center>
  <a href="/transactions/pending" class="btn btn-primary btn-lg btn-block" role="button">Approve Pending Transactions</a>
</center></p>
</div>
