

<div class="jumbotron">
      <div class="container">
        <h1>Headline</h1>
        <p> Sub-headline. <%= notice %></p>
      </div>
    </div>

<div class="container">
INSERT CODE FOR VIEW HERE.
</div>

<br>
<br>

<%= yield %>

</body>

<hr>

</html>