<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta charset="UTF-8">
  	
    <title>DigIn Rewards</title>
    
    <%= csrf_meta_tags %>

</head>

<body>
	
<%= yield %>

</body>

<div class="container">
<footer>
	<p>&copy; 2016 Dig In LLC</p>
</footer>
</div>

</html>