<!DOCTYPE html>
<html>
<head>
    <%= stylesheet_link_tag bootstrap_css %>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
	<link rel="apple-touch-icon" sizes="57x57" href="apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-72x72.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta charset="UTF-8">
  	
    <title>DigIn Rewards</title>
    
    <%= csrf_meta_tags %>

</head>

<body>
	
<%= yield %>

</body>

<div class="container">
<footer>
	<p>&copy; 2016 Dig In LLC</p>
</footer>
</div>

</html>