<!DOCTYPE html>
<html>
<head>
    <%= stylesheet_link_tag bootstrap_css %>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta charset="UTF-8">
  	
    <title>DigIn Rewards</title>
    
    <%= csrf_meta_tags %>

</head>

<body>
	
<%= yield %>

</body>

<div class="container">
<footer>
	<p>&copy; 2016 Dig In LLC</p>
</footer>
</div>

</html>